
/* 
font-family: 'Fira Code', monospace;
font-family: 'Yellowtail', cursive; 
*/

@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'Yellowtail';
    src: url(fonts/Yellowtail/Yellowtail-Regular.ttf);
}

body {
    background-color: white;
    color: black;
    font-family: 'Poppins-SemiBold';
}

nav {
    display: block;
    z-index: 9999;
}

nav img {
    width: 28px;
}

.landing {
    height: 100vh;
    width: 99vw;
}


.landing div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}

.landing-title {
    font-family: 'Yellowtail';
}

/* If the screen size is 600px wide or less, set the font-size of title to 8rem */
@media screen and (min-width: 601px) {
    .landing-title {
        font-size: 8rem;
    }
}
  
/* If the screen size is 600px wide or less, set the font-size of title to 6rem */
@media screen and (max-width: 600px) {
    .landing-title {
        font-size: 6rem;
    }
}