
/* 
font-family: 'Fira Code', monospace;
font-family: 'Yellowtail', cursive; 
*/

body {
    background-color: white;
    color: black;
    font-family: 'Fira Code', monospace;
}

nav {
    display: block;
    z-index: 9999;
}

nav img {
    width: 28px;
}

.landing {
    height: 100vh;
    width: 100vw;
}


.landing div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}

.landing-title {
    font-family: 'Yellowtail', cursive;
    font-size: 6rem;
}
