
/* 
font-family: 'Fira Code', monospace;
font-family: 'Yellowtail', cursive; 
*/

@font-face {
    font-family: 'Fira Code';
    src: url(fonts/Fira_Code/FiraCode-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Yellowtail';
    src: url(fonts/Yellowtail/Yellowtail-Regular.ttf);
}

body {
    background-color: white;
    color: black;
    font-family: 'Fira Code';
}

nav {
    display: block;
    z-index: 9999;
}

nav img {
    width: 28px;
}

.landing {
    height: 100vh;
    width: 99vw;
}


.landing div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}

.landing-title {
    font-family: 'Yellowtail';
    font-size: 6rem;
}
